@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

@theme {
  --color-brand-gray: #F5F8FA;
  --color-primary: #32A8F8;
}